.menus {
    //background: none !important;
    //color: #ffffff !important;
    font-size: 1em !important;
    font-family: sans-serif !important;
    text-align: end !important;
    //line-height: normal !important;
}

.menu-item {
   line-height: 50px !important;
}

// .menu-item:hover {
//     color: #ffffff !important;
//     border-bottom: none !important;
// }
